<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Download from Youtube | Awesome Youtube Multi Download</title>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://localhost/youtube/resources/css/main.css">
</head>
<body class="bg">
  <nav class="navbar navbar-dark bg-dark">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.php" style="color:white;">Youtube Downloader</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.php">Video</a></li>
				<li class=""><a href="playlist.php">Playlist</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="https://www.youtube.com">Youtube</a></li>
				<li class=""><a href="https://www.google.com">Google</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
  </nav>

	<div class="container" style="margin-top:30px; text-align:center;">
		<div  style="color:white;">
			<h1 style="font-weight:100;"> Welcome to Youtube downloader</h1>
			<p>First site in the World for downloading videos frome youtube</p>
			<hr style="width:250px; background-color:white;margin-bottom:50px;">
			{% block content %}

			{% endblock %}
			</div>
	</div>
<br><br><br><br><br><br>
</body>
</html>