{% extends 'default.twig' %}
{% block content %}
	<div>
		<form action="getvideo.php">
			<input type="text" class="main-input" name="url" placeholder="Enter a video URL..." style="width:500px; max-width:80%;">
			<input type="submit" value="Get Video" class="main-input" id="get-button">
		</form>
	</div>
{% endblock %}